<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sekolahku_jude.Properties.Settings.db_sekolah_fadlanConnectionString"
            connectionString="Data Source=DESKTOP-8UJEI4N\MSSQLSERVER01;Initial Catalog=db_sekolah-fadlan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sekolahku_jude.Properties.Settings.db_sekolah_fadlanConnectionString1"
            connectionString="Data Source=DESKTOP-FDMC7DB;Initial Catalog=db_sekolah-fadlan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>